$dark-blue: #002664;
$light-blue:#009bba;
$alt-blue:#006890;

// Pallette Colours

$pallette1:#77206e;
$pallette2:#009aba;
$pallette3:#36c4b6;
$pallette4:#3d9c34;
$pallette5:#f1ae00;
$pallette6:#ec582a;
$pallette7:#898d8e;
$pallette8:#5e2750;
$pallette9:#006790;
$pallette10:#018566;
$pallette11:#02673b;
$pallette12:#cf8e00;
$pallette13:#a23e1a;
$pallette14:#717076;
$pallette15:#9a5fbb;
$pallette16:#91d6e6;