<!doctype html>
<html><head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>

</style>

<title></title>
</head>
    <body style="margin:0px;padding:0px;background-color:#ffffff;">
    	<!--wrapper table-->
    	<table width="595" border="0" align="center" cellpadding="0" cellspacing="0">
    		<tr>
      			<td width="595" border="0" align="center" cellpadding="0" cellspacing="0">
                	
                    <!-- Header Row-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0" background="img/map-bg.gif" height="240">
                      	<tbody>
                        	<tr>
                            	<td width="40">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                          		<td>
                                	<span style="font-family:arial;font-size:32px;color:white;">American Express In<br /> your neighbourhood</span><br /><br />
                                    <span style="color:#90d6e7;font-size:36px;font-family:arial;font-weight:bold;">2300</span>
                                </td>
                                <td width="40">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    
                    <!-- End Header Row-->
                
                    <!--Navigation row-->
                    <table width="595" border="0" height="40" align="center" cellpadding="0" cellspacing="0" bgcolor="#f8f8f8">
                        <tr>
                        	<td width="40">
                            	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#1893ad;font-size:11px;text-transform:uppercase;font-family:arial;">All Industries</span>
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#b6b6b6;font-size:11px;text-transform:uppercase;font-family:arial;">Retail</span>
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#b6b6b6;font-size:11px;text-transform:uppercase;font-family:arial;">Dining</span>
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#b6b6b6;font-size:11px;text-transform:uppercase;font-family:arial;">Lodge</span>
                            </td>
                            <td width="40">
                            	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                            </td>
                        </tr>
                    </table>
                    
                    <!--End Navigation row-->
                    
                    <!-- SPACER ROW-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                        </tbody>
                    </table>
                    
                    <!-- END SPACER ROW-->
                    
                    <!-- Main Content-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td width="40">
                            		<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                
                                <td width="160" valign="top">
                                	<img src="img/icon1.png" alt="" style="margin-bottom:10px;"><br />
                                	<span style="color:#009bba;font-size:22px;font-family:arial;font-weight:bold;">4,384</span><br />
                                    <span style="font-size:12px;font-weight:bold;color:#4c4f54;text-transform:uppercase;font-family:arial;">Cards in force</span><br />
                                    <div class="divider" style="height:1px;width:160px;background-color:#009bba;margin-bottom:10px;margin-top:10px;"></div>
                                    
                                    <span style="font-size:10px;color:#4c4f54;font-family:arial;">American Express has over 4,384 Cards in Force - 4,068 consumer, 316 business - within your area</span>
                                </td>
                                <td width="20">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td width="160" valign="top">
                                	<img src="img/icon2.png" alt="" style="margin-bottom:10px"><br />
                                	<span style="color:#009bba;font-size:22px;font-family:arial;font-weight:bold;">280,433</span><br />
                                    <span style="font-size:12px;font-weight:bold;color:#4c4f54;text-transform:uppercase;font-family:arial;">TRANSACTIONS</span><br />
                                    <div class="divider" style="height:1px;width:160px;background-color:#009bba;margin-bottom:10px;margin-top:10px;"></div>
                                    
                                    <span style="font-size:10px;color:#4c4f54;font-family:arial;">There were over 280,433 transactions by Card members within your area in the last year (2014).</span>
                                </td>
                                <td width="20">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td width="160" valign="top">
                                	<img src="img/icon3.png" alt="" style="margin-bottom:10px"><br />
                                	<span style="color:#009bba;font-size:22px;font-family:arial;font-weight:bold;">$52,513,319</span><br />
                                    <span style="font-size:12px;font-weight:bold;color:#4c4f54;text-transform:uppercase;font-family:arial;">Spent at Merchants</span><br />
                                    <div class="divider" style="height:1px;width:160px;background-color:#009bba;margin-bottom:10px;margin-top:10px;"></div>
                                    
                                    <span style="font-size:10px;color:#4c4f54;font-family:arial;">Card members spent over $52,513,319 at Merchants within your area last year</span>
                                </td>
                                <td width="40">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    
                    <!-- SPACER ROW-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                        </tbody>
                    </table>
                    
                    <!-- END SPACER ROW-->
                    
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td width="40">
                            		<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                
                                <td width="160" valign="top">
                                	<img src="img/icon4.png" alt="" style="margin-bottom:10px"><br />
                                	<span style="color:#009bba;font-size:22px;font-family:arial;font-weight:bold;">4,384</span><br />
                                    <span style="font-size:12px;font-weight:bold;color:#4c4f54;text-transform:uppercase;font-family:arial;">greater spend at upscale retailers</span><br />
                                    <div class="divider" style="height:1px;width:160px;background-color:#009bba;margin-bottom:10px;margin-top:10px;"></div>
                                    
                                    <span style="font-size:10px;color:#4c4f54;font-family:arial;">Australian American Express Card Members report spending 20% more of their total retail apparel spend at upscale designer brand retailers for Women and/or Men with more than one location (Country Road, French Connection, etc.) than Non-Card Members in the prior 6 months.</span>
                                </td>
                                <td width="20">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td width="160" valign="top">
                                	<img src="img/icon5.png" alt="" style="margin-bottom:10px"><br />
                                	<span style="color:#009bba;font-size:22px;font-family:arial;font-weight:bold;">280,433</span><br />
                                    <span style="font-size:12px;font-weight:bold;color:#4c4f54;text-transform:uppercase;font-family:arial;">Willing to pay full price</span><br />
                                    <div class="divider" style="height:1px;width:160px;background-color:#009bba;margin-bottom:10px;margin-top:10px;"></div>
                                    
                                    <span style="font-size:10px;color:#4c4f54;font-family:arial;">52% of Australian American Express Card Members report they agree that they are willing to pay full price in order to get the correct size and colour in a name brand item.</span>
                                </td>
                                <td width="20">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td width="160" valign="top">
                                	<img src="img/icon6.png" alt="" style="margin-bottom:10px"><br />
                                	<span style="color:#009bba;font-size:22px;font-family:arial;font-weight:bold;">$52,513,319</span><br />
                                    <span style="font-size:12px;font-weight:bold;color:#4c4f54;text-transform:uppercase;font-family:arial;">want acceptance 
online and instore</span><br />
                                    <div class="divider" style="height:1px;width:160px;background-color:#009bba;margin-bottom:10px;margin-top:10px;"></div>
                                    
                                    <span style="font-size:10px;color:#4c4f54;font-family:arial;">Card members spent over $52,513,319 at Merchants within your area last year</span>
                                </td>
                                <td width="40">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    
                    <!-- End Main Content-->
                    
                    <!-- SPACER ROW-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                        </tbody>
                    </table>
                    
                    <!-- END SPACER ROW-->
                    
                    <!--end Navigation row-->
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/footer.jpg" alt="">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    <!-- Footer Block-->
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                            <tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<span style="font-size:10px;font-family:arial">The information and representations contained in this presentation are based on publicly available sources and information that you may have provided us directly. All representations, facts and figures are made by way of example and are for illustrative purposes only. This presentation does not represent an offer and shall not be deemed to create any binding rights or obligations in respect to either party.</span><br /><br />
<span style="font-size:10px;font-family:arial"><b>TERMS & CONDITIONS:</b>  American Express Australia Limited (ABN 92 108 952 085). &reg; Registered Trademark of American Express Company has developed this tool to provide aggregated information on American Express card activity within a specific postcode zone. The tool includes both direct and modelled data which should be used for indicative purposes only. Accuracy may vary by business unit - i.e. American Express Australia Limited (ABN 92 108 952 085). Extracted does not reflect any Personally Identifiable Information (PII). </span><br /><br />
<span style="font-size:10px;font-family:arial"><b>REFERENCES:</b>  1 American Express Internal data August 2014 - July 2015  2  Source: Internet panel survey conducted in January – February 2015 based on purchases made in the 6 months prior to the survey. Definition of American Express® Card Members: Respondents who reported that they have an American Express Card and that they used that card to make purchases in the prior 6 months. Definition of Non-Card Members: Respondents who reported that they do not have any type of American Express Card and that they used Visa, MasterCard, Diners Club, JCB, China Union Pay, debit card, cash/cheque or payment services (e.g. PayPal) to make purchases in the prior 6 months  3  2014 Annual Report, American Express.</span><br /><br />
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                            <tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    <!-- End Footer Block-->
                </td>
            </tr>
        </table>
       
        <!--end wrapper table-->
    </body>
</html>
