<!doctype html>
<html><head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>

</style>

<title></title>
</head>
    <body style="margin:0px;padding:0px;background-color:#F8F8F8;">
    	<!--wrapper table-->
    	<table width="595" border="0" cellpadding="0" cellspacing="0">
    		<tr>
      			<td width="595" border="0" align="center" cellpadding="0" cellspacing="0">
                	
                    <!-- Header Row-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0" height="44">
                      	<tbody>
                        	<tr>
                            	<td width="40">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                          		<td>
                                	<span style="font-family:arial;font-size:16px;color:#002664;font-weight:bold;">American Express In your neighbourhood</span> <span style="font-family:arial;font-size:16px;color:#002664;font-weight:bold;">|</span> <span style="color:#009bba;font-size:16px;font-family:arial;font-weight:bold;">Comparison View</span>
                                </td>
                                <td width="40">
                                    <img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    
                    <!-- End Header Row-->
                
                    <!--Navigation row-->
                    <table width="595" border="0" height="40" align="center" cellpadding="0" cellspacing="0" bgcolor="#EDEBEC">
                        <tr>
                        	<td width="40">
                            	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#1893ad;font-size:11px;text-transform:uppercase;font-family:arial;font-weight:bold;">All Industries</span>
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#b6b6b6;font-size:11px;text-transform:uppercase;font-family:arial;">Retail</span>
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#b6b6b6;font-size:11px;text-transform:uppercase;font-family:arial;">Dining</span>
                            </td>
                            <td align="center" width="590">
                            	<span style="color:#b6b6b6;font-size:11px;text-transform:uppercase;font-family:arial;">Lodge</span>
                            </td>
                            <td width="40">
                            	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                            </td>
                        </tr>
                    </table>
                    
                    <!--End Navigation row-->
                    
                    <!-- SPACER ROW-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                        </tbody>
                    </table>
                    
                    <!-- END SPACER ROW-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th class="postcode">
                                    <table style="height: 193px; width: 100%; border-collapse: collapse; border-spacing: 0px 0px; border-bottom: solid #002663 2px;">
                                        <tbody>
                                        	<tr>
                                            	<td class="number" width="80">
                                            	</td>
                                        	</tr>
                                    	</tbody>
                                	</table>
                                </th>
                                <th class="col1">
                                    <table style="width: 100%; border-collapse: collapse; border-spacing: 0px 0px;">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" align="right" width="145" style="font-size:12px;color:#9FA0A3;font-family:arial;border-bottom: solid #002663 2px;">
                                                    <table style="border-collapse: collapse; border-spacing: 0px 0px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    
                                                                        <img src="img/sample.png" width="150" height="150" alt=""><br />
                                                                    
                                                                    <span style="
                                                                        padding-top:  10px;
                                                                        padding-bottom: 10px;
                                                                        display:  block;
                                                                        width: 100%;
                                                                        text-align: center;
                                                                        font-size: 16px;
                                                                        color: #4c4f54;

                                                        

                                                                    ">
                                                                    Cards in Force
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                                <th class="col2">
                                    <table style="width: 100%; border-collapse: collapse; border-spacing: 0px 0px;">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" align="right" width="145" style="font-size:12px;color:#9FA0A3;font-family:arial;border-bottom: solid #002663 2px;">
                                                    <table style="border-collapse: collapse; border-spacing: 0px 0px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    
                                                                        <img src="img/sample.png" width="150" height="150" alt=""><br />
                                                                    
                                                                    <span style="
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            display: block;
                                                                            width: 100%;
                                                                            text-align: center;
                                                                          font-size: 16px;
                                                                        color: #4c4f54;
                                                                            ">
                                                                        Cards in Force
                                                                    </span>
</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                                <th class="col3">
                                    <table style="width: 100%; border-collapse: collapse; border-spacing: 0px 0px;">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" align="right" width="145" style="font-size:12px;color:#9FA0A3;font-family:arial;border-bottom: solid #002663 2px;">
                                                    <table style="border-collapse: collapse; border-spacing: 0px 0px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                        <img src="img/sample.png" width="150" height="150" alt=""><br />
                                                                    <span style="
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            display: block;
                                                                            width: 100%;
                                                                            text-align: center;
                                                                          font-size: 16px;
                                                                        color: #4c4f54;
                                                                            ">
                                                                        Cards in Force
                                                                    </span>
</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: white;">
                                <td class="postcode">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="padding: 10px;">
                                                    <span style="color:#009bba;font-size:18px;font-family:arial;font-weight:bold;">2300</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col1" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="font-size: 13px;color: #AEAFB1;font-family: arial;">21,765,543</td>
                                                <td class="percent" style="color: #AEAFB1;font-size: 12px; padding-top: 2px;">19%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col2" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="font-size: 13px;color: #AEAFB1;font-family: arial;">502,574</td>
                                                <td class="percent" style="color: #AEAFB1;font-size: 12px; padding-top: 2px;">17%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col3" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="font-size: 13px;color: #AEAFB1;font-family: arial;">$21,765,543</td>
                                                <td class="percent" style="color: #AEAFB1;font-size: 12px; padding-top: 2px;">17%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="postcode">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="padding: 10px;">
                                                    <span style="color:#009bba;font-size:18px;font-family:arial;font-weight:bold;">2300</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col1" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="font-size: 13px;color: #AEAFB1;font-family: arial;">4,384</td>
                                                <td class="percent" style="color: #AEAFB1;font-size: 12px; padding-top: 2px;">19%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col2" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="font-size: 13px;color: #AEAFB1;font-family: arial;">502,574</td>
                                                <td class="percent" style="color: #AEAFB1;font-size: 12px; padding-top: 2px;">17%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col3" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="number" style="font-size: 13px;color: #AEAFB1;font-family: arial;">$21,765,543</td>
                                                <td class="percent" style="color: #AEAFB1;font-size: 12px; padding-top: 2px;">17%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
    
                            <tr class="total-row" style="background-color: #002663;color: white;">
                                <td class="postcode" style="padding: 5px;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span style="font-size:13px;font-family:arial;font-weight:bold;">TOTAL</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col1" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="img/card1.png" alt="">
                                                </td>
                                                <td class="number" style="font-family:arial;font-weight:bold; font-size: 13px;"> 798,332,521</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col2" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="img/card2.png" alt=""> 
                                                </td>
                                                <td class="number" style="font-family:arial;font-weight:bold; font-size: 13px;" >798,332,521</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="col3" align="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="img/card3.png" alt="">
                                                </td>
                                                <td class="number" style="font-family:arial;font-weight:bold; font-size: 13px;">
                                                    
                                                    $798,332,521
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                    	</tbody>
                    </table>
                    
                    
                    <!-- SPACER ROW-->
                    
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                        </tbody>
                    </table>
                    
                    <!-- END SPACER ROW-->
                    
                    <!-- End Main Content-->

                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/footer.jpg" alt="">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    <!-- Footer Block-->
                    <table width="595" border="0" cellspacing="0" cellpadding="0">
                      	<tbody>
                        	<tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                            <tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<span style="font-size:10px;font-family:arial">The information and representations contained in this presentation are based on publicly available sources and information that you may have provided us directly. All representations, facts and figures are made by way of example and are for illustrative purposes only. This presentation does not represent an offer and shall not be deemed to create any binding rights or obligations in respect to either party.</span><br /><br />
<span style="font-size:10px;font-family:arial"><b>TERMS & CONDITIONS:</b>  American Express Australia Limited (ABN 92 108 952 085). &reg; Registered Trademark of American Express Company has developed this tool to provide aggregated information on American Express card activity within a specific postcode zone. The tool includes both direct and modelled data which should be used for indicative purposes only. Accuracy may vary by business unit - i.e. American Express Australia Limited (ABN 92 108 952 085). Extracted does not reflect any Personally Identifiable Information (PII). </span><br /><br />
<span style="font-size:10px;font-family:arial"><b>REFERENCES:</b>  1 American Express Internal data August 2014 - July 2015  2  Source: Internet panel survey conducted in January – February 2015 based on purchases made in the 6 months prior to the survey. Definition of American Express® Card Members: Respondents who reported that they have an American Express Card and that they used that card to make purchases in the prior 6 months. Definition of Non-Card Members: Respondents who reported that they do not have any type of American Express Card and that they used Visa, MasterCard, Diners Club, JCB, China Union Pay, debit card, cash/cheque or payment services (e.g. PayPal) to make purchases in the prior 6 months  3  2014 Annual Report, American Express.</span><br /><br />
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                            <tr>
                          		<td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                                <td>
                                	<img src="img/cleardot.gif" width="20" height="20" alt="" style="display:block">
                                </td>
                        	</tr>
                      	</tbody>
                    </table>
                    <!-- End Footer Block-->
                </td>
            </tr>
        </table>
       
        <!--end wrapper table-->
    </body>
</html>
